<div class="row">
    <div class="col-md-6 col-lg-6">
        <tabset vertical="true" type="pills">
            <tab heading="Vertical 1"></tab>
            <tab heading="Vertical 2"></tab>
        </tabset>
    </div>

    <div class="col-md-6 col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Create agenda</h3>
            </div>
            <div class="panel-body">
                <form name="createContact" novalidate>
                    <div class="form-group"
                         ng-class="{'has-error': createContact.name.$dirty && createContact.name.$invalid}">
                        <label for="name">Name</label>
                        <input type="text" ng-model="createContactData.name" required class="form-control"
                               placeholder="Name" name="name" id="name">
                        <!--<ng-messages for="createContact.name.$error" class="text-danger" ng-if="createContact.name.$dirty">-->
                        <!--<ng-message when="required">This field is required</ng-message>-->
                        <!--</ng-messages>-->
                    </div>
                    <div>
                        <button class="btn btn-success btn-large pull-right" ng-disabled="createContact.$invalid"
                                ng-click="createAgendaCon()">Create agenda
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>